.ProgramChildCare{
    background-image: url("assets/images/Portal/AboutUs/BackgroundProgramChildCare.svg");
    padding: 10% 0 0 0;
    min-height: 490px;
    display: flex;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    border: #FFFFFF;
    background-color: #ffffff;
}

.ImgProgramChildCare{
    width: 100%;
}

.ImgArrowKnowMore{
    height: 50%;
    margin-left: 1em;
}
 
.Text{
    margin: 4% 0 0 0;
    font-weight: bold;
}

.Paragraph{
    margin-top: 5%;
}


@media screen and (max-width:480px) {
    .ProgramChildCare {
        background-image: url("assets/images/Portal/AboutUs/BackgroundProgramChildCareMobile.svg");
        background-position: center;
        min-height: 904px;
    }
}